<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/base.css')}} ">
    <title> {% block title %}{% endblock %}</title>
</head>


<header>
    <h1 id="title">Fake News Checker</h1>
</header>

<body>

    <a style="align-self: flex-start; justify-self: flex-start; " href="/">Go To Home</a>
    <div id="border">
        {% block Body %}{% endblock %}
    </div>
</body>


</html>